<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
        connectionString="Data Source=MINHTRIXLAPTOP\MSSQL;Initial Catalog=SUSHI_X;Integrated Security=True;Encrypt=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
