# Ignore executable files
*.exe

# Ignore build folders
**/bin/
**/obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo

# Ignore temporary files
*.tmp
*.log

# Ignore Visual Studio solution user-specific options
*.sln.docstates

# Ignore config files with sensitive or environment-specific information
*.config
*.env

# Ignore package directories
**/packages/
.vs/

# Ignore backup and temporary files created by editors
*.bak
*.swp
